streamlit==1.44.0
mpi4py-mpich==3.1.5
sympy
numpy
scipy
scikit-learn
pandas
tqdm
flake8
coverage
graphviz 
matplotlib
plotly
smccomponents @ git+https://github.com/UoL-SignalProcessingGroup/SMCComponents@9649e9c
